$main-color: green;

html{
  background: url(https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_1280.jpg) no-repeat center top fixed;
}

.titles{
  color: $main-color;
  text-align: center;
  font-family: 'Cinzel', serif;
  h2{
  color: black;
  }
}

.dropdown {
    text-align: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    padding: 8px 14px;
    font-size: 91%;
    border: none;
    cursor: pointer;
    font-family: 'Cinzel', serif;
    outline: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover {
    background-color: gray;
}

/* Dropdown Content (Hidden by Default) */
.menu {
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 114px;
    margin: 0 auto;
  /* Links inside the dropdown */
    a {
      color: white;
      padding: 12px;
      text-decoration: none;
      display: block;
     }
}

/* Change color of dropdown links on hover */
.menu a:hover {background-color: black;}


#wikiViewer{
  text-align: center;
  display: none;
}

.typeSelection{
  text-align:center;
  #confirmButton{
    background-color: black;
    color: white;
    outline:none;
  }
}

@media only screen and (max-width: 495px) {
  h1 {
    font-size: 22px;
  }
  
  h2 {
    font-size: 12px;
  }
  
  #searchBar {
    margin-bottom: 5px;
  }
  
  .dropbtn{
    font-size: 70%;
  }
  
  .menu{
    width: 93px;
    a{
      font-size: 12px;
    }
  }
}